.lnch-status-icon, .lnch-action-icon {
	opacity: 0.2;
	font-size: 18px;
	margin: 0 6px;
	cursor: default;
	transition: 0.3s ease all;
	-moz-transition: 0.3s ease all;
	-webkit-transition: 0.3s ease all;
}

.lnch-action-icon {
	cursor: pointer;
}

.lnch-status-icon.ok {
	opacity: 1;
	color: #2ab42a;
}

.lnch-status-icon.not-ok {
	opacity: 1;
	color: #e73333;
}

.lnch-action-icon:hover {
	opacity: 1;
}

.kv-editable-link {
	padding: 0 !important;
}

.nav-pills > li > a {
	border-radius: 0 !important;
	margin-right: 5px;
}

.panel.lnch-users {
	border-radius: 0 !important;
	margin-bottom: 1em;
}

.panel.lnch-users .panel-body.narrow {
	padding: 8px;
}