.lnch-users-wrapper {
	min-height: 100vh;
	position: relative;
}

.lnch-users-container {
	width: 100%;
	margin-top: 100px;
}

.lnch-users-form {
	background: white;
	min-height: 100px;
	border: 1px solid #d8d8d8;
	box-shadow: 0px 2px 13px rgba(0 ,0, 0, 0.1);
	margin-bottom: 20px;
}

.lnch-users-form .lnch-header {
	padding: 0.75em 1em;
	text-align: center;
	border-bottom: 1px solid rgb(216, 216, 216);
	font-size: 20px;
	background-color: #36b2ce;
	color: white;
}

.lnch-users-form .lnch-content {
	padding: 0 1em 1em 1em;
}

.login-text {
	font-size: 14px;
	line-height: 16px;
	margin: 0 0 5px 0;
}

/* Form Elements */
.lnch-form-control {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: 1px solid #D8D8D8;
	display: block;
	width: 100%;
	padding: 1em;
	text-align: center;
}

.remember-me {
	float: left;
	width: 60%;
}
.remember-me label {
	font-weight: normal;
}

.forgot-password-link {
	width: 40%;
	float: right;
	text-align: right;
	font-size: 12px;
	padding: 0 0 0.75em 0.75em;
}

.forgot-password-link a,
.forgot-password-link a:visited {
	color: #2FAAD4;
	transition: 		0.3s ease all;
	-moz-transition: 	0.3s ease all;
	-webkit-transition: 0.3s ease all;
}
.forgot-password-link a:hover,
.forgot-password-link a:active {
	color: #145063;
	text-decoration: none;
}

.lnch-btn-block {
    display: block;
    width: 100%;
}
.lnch-btn-success {
    color: #fff;
    background-color: #5fc697;
    border-color: #5fc697;
}
.lnch-btn-primary {
    color: #fff;
    background-color: #4593d5;
    border-color: #4593d5;
}
.lnch-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 20px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: .3s ease background;
    -moz-transition: .3s ease background;
    -webkit-transition: .3s ease background;
}